build/
.gradle/
.idea/
out/
bin/

/js/.parcel-cache/
/js/dist
/js/node_modules/
.vscode/*
/rewrite-javascript-remote-server/src/main/resources/node_modules/
/rewrite-javascript-remote-server/src/main/resources/package-lock.json
